.parent{
    display:flex;
    flex-direction:row;
    width:100%;
    height:687px;
   flex:9;
}
 
.child{
    width:20%;
    padding-left:1px;
}



#one{
    background-image:url('../../assets/iamge1.jpeg');
}

#one:hover{
    background-size:cover;
    width:100%;
}

#two{
      background-image:url('../../assets/image2.jpg') 
}

#two:hover{
    background-size:cover;
    width:100%;
}

#three{
     background-image:url('../../assets/image3.jpg');  
}

#three:hover{
    background-size:cover;
    width:100%;
}

#four{
 background-image:url('../../assets/image4.jpg') 
}

#four:hover{
background-size:cover;
width:100%
}

#five{
     background-image:url('../../assets/image5.jpeg') 
}

#five:hover{
    background-size:cover;
    width:100%;
}

.sidebar{
    width:px;
    height:100vh;
    background-color:rgb(240, 236, 234);
    /* border:1px solid red; */
   position:sticky;
  flex:1;
 
    /* margin-left:90%; */
}

 .main-parent{ 
    display:flex; 
 } 
 .icons-bar{
    width: 100px;
    height: 100px;
 }
 .main-bar{
    display: flex;
 }

@media (max-width:414px) and (min-width:896px){
    
.parent{
    background-color:red;
    
}

}